@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Test</h1>
    <p class="lead">This is my attempt at the test you provided for me. In the real world, I would ideally have a database
    to connect to and would build a business logic layer and a data access layer to handle to CRUD operations for the employees.
    I hope this is satisfactory for you. Thanks!</p>
   
</div>

